<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Fernando</title>

</head>
<body>

    <div>
    <h1>HOLA MUNDO EN HTML</h1>
    <h2>Creado en APSL</h2>
    <h3><strong>Fernando </strong><em>Superloper</em>... ...Developer.</h3>

    <p>Hola mundo cruel. <br>
        Aqui estamos haciendo nuestro primer HTML!</p>
    <p>Esta es la empresa que me ha dado la oportunidad: </p>
    <a href="https://apsl.net">link</a>
        </div>

       <div>
           <p>Estos son mis primeros tutoriales: </p>

    <ul><li>Tutorial Django Girls .</li><li>Tutorial de Python.</li>
        <li>Tutorial Django</li><li>Tutorial de Git.</li>
    </ul>

       </div>

        <div>
            <h1><em>ESTA PARTE ES EL EJEMPLO DEL TUTORIAL Django Girls</em></h1>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

      {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
        {% endfor %}

</body>
</html>